﻿@{
    ViewBag.Title = "Food";
}

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<button type="button" class="btn btn-default" data-toggle="modal" data-target="#editFoodModal">Add food</button>

<div class="modal fade" id="editFoodModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" data-control="modal-content"></div>
    </div>
</div>

@section templates
{
    <script type="text/template" id="foodRow">
        <% _(foodItems).each(function(food) { %>
        <tr data-toggle="modal" data-target="#editFoodModal" data-id="<%= food.Id %>">
            <td>
                <%= food.Name %>
            </td>
        </tr>
        <% }) %>
    </script>

    <script type="text/template" id="foodEditModalContent">
        <div class="modal-header modal-header-defalut">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
                <span class="text-muted"><%= Id ? 'Edit food' : 'New food' %>:</span>
                <span><%= Name %></span>
            </h4>
        </div>
        <form>
            <div class="modal-body">
                <div class="form-horizontal" autocomplete="off">
                    <input type="hidden" value="<%= Id %>" name="Id" />
                    <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="input-sm form-control" value="<%= Name %>" name="Name" placeholder="" required="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer-defalut">
                <button type="submit" class="btn btn-default btn-sm" data-loading-text="Saving...">Save</button>
                <button type="button" class="btn btn-link btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </script>
}

@section scripts
{
    <script type="text/javascript">
        $(function() {
            var templates = {
                foodRow: _.template($('#foodRow').html()),
                foodEditModalContent: _.template($('#foodEditModalContent').html())
            };

            $('table').spin();
            $.get('api/food/', function(foodItems) {
                var html = templates.foodRow({ foodItems: foodItems });
                $('table').spin(false);
                $('table tbody').html(html);
            });

            var serializeFormToObject = function($form) {
                var filterObject = {};

                var filterArray = $form.serializeArray();
                $.each(filterArray, function() {
                    filterObject[this.name] = this.value || '';
                });

                return filterObject;
            };

            $('#editFoodModal').on('show.bs.modal', function(event) {
                var foodId = $(event.relatedTarget).data('id'),
                    $modal = $(this),
                    $modalContent = $modal.find('.modal-content').html('');

                function showFood(food) {
                    var html = templates.foodEditModalContent(food);
                    $modalContent.html(html);

                    $modalContent.find('form').submit(function() {
                        var $saveButton = $modalContent.find('[type="submit"]');
                        $saveButton.button('loading');
                        $modalContent.addClass('modal-overlay').spin();

                        var food = serializeFormToObject($(this));
                        console.log(food);
                        $.ajax({
                            url: 'api/food/' + (food.Id || ''),
                            type: food.Id ? 'PUT' : 'POST',
                            data: food,
                            dataType: 'json',
                            complete: function() {
                                $modalContent.removeClass('modal-overlay').spin(false);
                                $saveButton.button('reset');
                            },
                            success: function(response) {
                                console.log(response);
                                $modal.modal('hide');
                            }
                        });

                        return false;
                    });
                };

                if (foodId) {
                    $('body').spin();
                    $.get('api/food/' + foodId, function(food) {
                        $('body').spin(false);
                        showFood(food);
                    });
                } else {
                    showFood({
                        Id: null,
                        Name: ''
                    });
                };
            });
        });
    </script>
}
